# Node / Build
node_modules/
dist/
build/
release/

# Rust / Tauri
src-tauri/target/
src-tauri/gen/schemas/

# VSCode
.vscode/

# Local DB
*.db

# Logs
*.log

# OS cache
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
